# Имя workflow
name: Main Taski Workflow
# Перечень событий-триггеров, при которых должен запускаться workflow
on:
  #Ключ on описывает триггер — событие, 
  #которое должно произойти, чтобы workflow начал выполняться.
  push:
    # Отслеживаем изменения только в ветке main
    branches:
      - main
# Перечень задач
jobs:
    #список действий, которые должны выполниться 
    #после срабатывания триггера
    tests:
        #Разворачиваем окружение
        runs-on: ubuntu-latest
        #runs-on, определяет, в каком окружении будут запущены все команды 
        #этой задачи. Окружение создаёт на своём сервере GitHub Actions.
        steps:
            #Каждый шаг — это отдельная команда.
            #Копируем код проекта
            - name: Check out code
              uses: actions/checkout@v3 # Берём готовое решение из библиотеки GitHub Actions
            #Устанавливаем Python с помощью action
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: 3.9 # В action setup-python@v4 передаём параметр — версию Python
            # Обновляем pip, устанавливаем flake8 (инструмент для проверки кода PEP 8) и flake8-isort (расширение проверяет правильность сортировки импортов в коде), 
            # устанавливаем зависимости проекта
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install flake8==6.0.0 flake8-isort==6.0.0
            # Запускаем flake8
            - name: Test with flake8
              # Вызываем flake8 и указываем ему,
              # что нужно проверить файлы только в папке backend/
              run: python -m flake8 backend/ #В ключе run хранится команда, которая будет выполнена в терминале 
              #окружения на раннере